
.add_btn {
    width: 12%;
    height: 36px !important;
    border-color: none !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.add_btn:hover {
    background-color: #c2c7d0 !important;
    border-color: #c2c7d0 !important;
    color: #000;
}

.formButton {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.formButton:hover {
    color: #000;
}
.update_btn {
    width: 60px !important;
    font-size: 10px;
}
.tbody_font, .form-control {
    font-size: 15px !important;
}

.card-title {
    float: none !important;
    font-weight: 600 !important;
}
.card-header {
    height: 60px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-image {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
